Python_for_Data_Science/week-1/Important_Screenshots/
Python_for_Data_Science/week-4/movielens/
Python_for_Data_Science/week-5/WDI_csv/
world-development-indicators/
Python_for_Data_Science/week-7/Important_Screenshots/
Python_for_Data_Science/week-1/database.sqlite/
Python_for_Data_Science/week-7/weather/
Python_for_Data_Science/week-8/nltk_data/
Probability_and_Statistics_in_Data_Science_using_Python/Topic 1: Introduction_to_Probability_and_Statistics/Topic1-IntroMotivation/1.What-is-Probability slides_files/
Probability_and_Statistics_in_Data_Science_using_Python/Topic 1: Introduction_to_Probability_and_Statistics/Topic1-IntroMotivation/images/
Probability_and_Statistics_in_Data_Science_using_Python/Topic 1: Introduction_to_Probability_and_Statistics/Topic1-IntroMotivation/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/Section1-Spark-Basics/0.MemoryLatency/lib/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/Section1-Spark-Basics/0.MemoryLatency/Outputs/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/Section1-Spark-Basics/1.BasicSpark/Figures/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/Section1-Spark-Basics/2.SparkSQL/Outputs/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/Section1-Spark-Basics/2.SparkSQL/Figures/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/PA1/resource/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/resource/
Big_Data_Analytics_Using_Spark/Section2-Weather-PCA/resource/
Big_Data_Analytics_Using_Spark/Section1-Spark-Basics/PA2/resource/
Probability_and_Statistics_in_Data_Science_using_Python/Topic 1: Introduction_to_Probability_and_Statistics/Topic1-IntroMotivation/
Python_for_Data_Science/week-6/movielens/
Python_for_Data_Science/week-9/Untitled.ipynb/
Python_for_Data_Science/week-9/Week-9-ExampleNotebooks/
Probability_and_Statistics_in_Data_Science_using_Python/Topic:8 Discrete Distribution Families/titanic/
Machine Learning Fundamentals/Week 1: Prediction Problems/MNIST/
Machine Learning Fundamentals/Week 1: Prediction Problems/NN_spine/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/Visualization/Figures/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/Visualization/__init__.py/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/Visualization/lib/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/XGBoost/Figures/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/XGBoost/__init__.py/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/XGBoost/lib/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/XGBoost/Outputs/
Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classification/Section4-Classification/XGBoost/spark-warehouse/

Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/Section4-Classificationn/XGBoost/__init__.py/
/home/akanchha/Desktop/akc03-2024/Micro_Masters/UCSanDiegoX-s-Data-Science-MicroMasters/Big_Data_Analytics_Using_Spark/Decision Trees, Random Forests and Boosting (Weeks 7 & 8)/resource/
*.npy
*.pyc
*.sqlite
*.ipynb_checkpoints
*.xls
*.pptx
Python_for_Data_Science/week-1/__pycache__/
*.DS_Store
*.csv
*.html
*.json
*.png
*.jpg
*.hdf5
*.parquet